body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.container {
  padding: 50px;
}

.btn {
  padding: 15px;
  background-color: #42b983;
  border: 1px solid #42b983;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.btn:hover {
  opacity: 0.8;
}